body {
    background-image: url("images/game-background.jpg");
    cursor: url(images/hammer.png) 0 64, auto;
    text-align: center;
}

footer {
    font-family: serif;
    font-size: 1.1rem;
    margin: 3% 0 1%;
}

#level-title {
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 2% 5%;
    padding: 3%;
}

.container {
    display: block;
    width: 75%;
    margin: auto;

}

.btn {
    background-image: url("images/game-background-mini.jpg");
    border-radius: 20%;
    display: inline-block;
    height: 150px;
    margin: 15px 20px;
    width: 150px;
    /* border: 5px inset black; */
    position: relative;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.moleImg {
    height: 150px;
    width: auto;
}

.pressed {
    /* box-shadow: 0 0 20px; */
    /* transform: translateY(5px); */
    transform: rotateX(30deg);
}

.credits {
    padding: 3px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.bounce {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;

    /* .one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	&.two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	} */
}